.container{
    margin: 4rem 0 0;
    border: 1px solid var(--grey-1);
    background: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 1rem;
    border-bottom: 1px solid var(--grey-1);
    background: var(--grey-8);
}

.header h4 {
    margin: 0;
}

.editor,
.editor:disabled {
    padding: 1rem;
    width: 100%;
    line-height: 1.4;
    font-size: 1.4rem;
    font-family: monospace;
    border: none;
    color: var(--grey-1);
    opacity: 100%;
    background: #fff;
}

.button {
    transition: all .3s ease-in-out;
    padding: 1rem;
    background: #fff;
    border: none;
    border-left: 1px solid var(--grey-8);
    font-size: 1rem;
    font-family: monospace;
}

.button:hover {
    background: var(--grey-6);
}

.button.active {
    background: var(--grey-4);
    color: #fff;
}